Header set Access-Control-Allow-Origin '*'
Header set Access-Control-Allow-Methods 'GET, PUT, POST, DELETE, OPTIONS,'
Header set Access-Control-Allow-Headers "Content-Type, Authorization"
RewriteEngine On
RewriteBase /taskhive/api
options +FollowSymLinks
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* api.php/$0 [L]